
@{
    Layout = null;
    ViewData["Title"] = "Index";
}
<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title></title></head>
    <body dir="rtl">

    <h1 style="text-align:center;background-color:green;color:aliceblue;">شما با موفقیت وارد سایت شدید</h1>
    </body>
</html>


